<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Fotos</h2>
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let foto of fotos">
          <div class="card">
            <img [src]="foto.thumbnailUrl" class="card-img-top" [alt]="foto.title" />
            <div class="card-body">
              <h5 class="card-title">{{ foto.title }}</h5>
              <a [href]="foto.url" target="_blank" class="btn btn-primary">Ver Imagen Completa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>